* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilam', sans-serif;
    background-image: url('./img/header-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
}

.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    border: 1px solid #E4B564;
}

.header_box_call_logo {
    margin-right: 8px;
}

.header_menu:hover {
    filter: invert(50%) sepia(2%) saturate(5%) hue-rotate(329deg) brightness(99%) contrast(96%);
} /* фильтр применил, для того чтобы еще покрасить иконку телефона (как по другому, пока не знаю) */

/* Header is over */

.wrapper_content {
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 120px;
}

.content_title {
    font-size: 50px;
    line-height: 28px;
}

.content_subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
}

.wrapper_header_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(468px, auto);
    gap: 27px 30px;
    margin-top: 41px;
}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.grid_item:first-child {
    background: #634F2C;
    grid-column: 1/3;
}
.grid_item:nth-child(2) {
    background: #B4A385;
    grid-column: 3/5;
}
.grid_item:nth-child(3) {
    background: #E4B564;
    grid-column: 5/7;
}
.grid_item:nth-child(4) {
    background: #635A4A;
    grid-column: span 3;
}
.grid_item:last-child {
    background: #B08C4D;
    grid-column: span 3;
}

.wrapper_for_image_inside {
    background-image: url('./img/parallax-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 160px;
    padding: 160px 0 160px;
}

.wrapper_main_content {
    color: #FFFFFF;
}

.wrapper_main_grid {
    height: 899px;
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 27px 30px;
}

.grid_box_item {
    padding-top: 45px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.grid_box_item:first-child {
    background: #0E0E0E;
    grid-column: 1/3;
    grid-row: 1/4;
}
.grid_box_item:nth-child(2) {
    background: #242424;
    grid-column: 3/5;
    grid-row: 1/5;
}
.grid_box_item:nth-child(3) {
    background: #1F1F1F;
    grid-column: 5/7;
    grid-row: 1/3;
}
.grid_box_item:nth-child(4) {
    background: #1F1F1F;
    grid-column: 1/3;
    grid-row: 4/9;
    padding-top: 56px;
    padding-left: 52px;
}
.grid_box_item:nth-child(5) {
    background: #E4B564;
    grid-column: 3/5;
    grid-row: 5/9;
    padding-top: 47px;
    padding-left: 52px;
}
.grid_box_item:nth-child(6) {
    background: #0E0E0E;
    grid-column: 5/7;
    grid-row: 3/6;
}
.grid_box_item:nth-child(7) {
    background: #0A0909;
    grid-column: 5/7;
    grid-row: 6/9;
} 

.wrapper_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 160px;
}

.all_projects_button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px;
    text-decoration: none;
}

.wrapper_footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(391px, auto);
    margin-top: 61px;
    margin-bottom: 160px;
}

.grid_box_footer_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_box_footer_item:first-child, .grid_box_footer_item:last-child {
    background: #634F2C;
}
.grid_box_footer_item:nth-child(2) {
    display: flex;
    flex-direction: column;
    background: rgba(232, 210, 171, 0.76);
}
.image_grid_item_middle {
    margin-top: 3px;
}
.text_adress {
    margin-top: 17px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: none;
}
.grid_box_footer_item:hover .text_adress {
    display: block;
}
.type_of_font_weight {
    font-weight: 400;
}
.grid_box_footer_item:nth-child(3) {
    background: #E4B564;
}
.grid_box_footer_item:nth-child(4) {
    background: #635A4A;
}
.grid_box_footer_item:nth-child(5) {
    background: #B08C4D;
}